<% layout('layouts/boilerplate') %> 

<div class="row">
    
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Edit campground</h1>
        <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Name: </label>
                <input class="form-control" type="text" name="campgrounds[title]" id="title" value= "<%= camp.title %>" required >
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">City and state: </label>
                <input class="form-control" type="text" name="campgrounds[location]" id="location" value= "<%= camp.location %>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price: </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="dollar-sign">$</span>
                    </div>
                    <input type="text" class="form-control" id= "price" aria-label="price" aria-describedby="dollar-sign" name="campgrounds[price]" placeholder="Add Price per night" value= "<%= camp.price %>" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Add Description: </label>
                <textarea class="form-control" type="text" name="campgrounds[description]" id="description" required ><%= camp.description %></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image" name= "image" multiple>
                    <label class="custom-file-label" for="image">Add More Image(s)</label>
                  </div>
            </div>
            <div class="mb-3">
                <% for(let i=0; i<camp.images.length; i++){ %> 
                    <img src="<%=camp.images[i].thumbnail%>" class= "img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=camp.images[i].filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                <% } %> 
            </div>

            <div class="mb-3"><button class="btn btn-success">Update</button></div>
                
        </form>

        <a href="/campgrounds/<%=camp._id%>">Back To Campground</a>
    </div>
</div>




 
    