<% layout('layouts/boilerplate') %> 

<div class="row">
        
    <div class="col-6 offset-3">
        <h1 class="text-center">Edit campground</h1>

        <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Name: </label>
                <input class="form-control" type="text" name="campgrounds[title]" id="title" value= "<%= camp.title %>" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">City and state: </label>
                <input class="form-control" type="text" name="campgrounds[location]" id="location" value= "<%= camp.location %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL: </label>
                <input class="form-control" type="text" name="campgrounds[image]" id="image" value= "<%= camp.image %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price: </label>
                <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="dollar-sign">$</span>
                </div>
                <input type="text" class="form-control" id= "price" aria-label="price" aria-describedby="dollar-sign" name="campgrounds[price]" placeholder="Add Price per night" value= "<%= camp.price %>">
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Add Description: </label>
                <textarea class="form-control" type="text" name="campgrounds[description]" id="description" ><%= camp.description %></textarea>
            </div>
            <div class="mb-3"><button class="btn btn-success">Update</button></div>
                
        </form>

        <a href="/campgrounds">Back to all campgrounds</a>
    </div>
</div>




 
    